<!doctype html>
<title>Intervals</title>
{% from "_formhelpers.html" import render_field %}
  <form action="/run/" method="POST" enctype="multipart/form-data">
      <table>
    {{ form.hidden_tag() }}
    {{ render_field(form.gpx) }}
    {{ render_field(form.ccuracy_liczba_probek) }}
    {{ render_field(form.accuracyPaceDiffForIntervalSearch) }}
    {{ render_field(form.point_distance_minimal_between_interwalsS) }}
    {{ render_field(form.filter_orderS) }}
    {{ render_field(form.wiekS) }}
    {{ render_field(form.zakresyTetnaProcentyS) }}
          </table>
      <input type="submit" value='RUN'>
  </form>
